<!DOCTYPE html>
<html lang="pt-br">
<head>
   <meta charset="utf-8" />
   <title>Lista de Tarefas</title>
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="assets/styles/bootstrap/dist/css/bootstrap.min.css">
   <link rel="stylesheet" href="assets/styles/bootstrap/compiler/style.css">

</head>
<body>
   
<script src="partials/partials.js"></script>


<script>
   includeTopbar();
</script>

<div class="container-fluid">
   <div class="col-md-12">
      <div class="row">
         <input placeholder="Lista" type="text" id="inputListTitle" class="form-control d-inline" required autofocus>
         <button type="button" onclick='createList("project")' class="btn btn-primary">Criar Lista</button>
      </div> 
   </div>
</div>

<div class="quadro" id='project'>
   <div class="newList"></div>
   
   
</div>

<!--controllers-->
<script src="../controllers/TaskController.js"></script>
<script src="../controllers/ListController.js"></script>

<!--libraries-->
<script src="assets/fonts/fontawesome/svg-with-js/js/fontawesome-all.min.js"></script>
<script src="assets/jquery/jquery/dist/jquery.min.js"></script>
<script src="assets/jquery/jquery-mask-plugin/dist/jquery.mask.min.js"></script>
<script src="assets/js/popper/dist/popper.min.js"></script>

</body>
</html>




